:root {
  --font1: 'Bungee';
  --font2: 'PT Sans Caption';
  --black: #302E37;
  --black-darker: #232128;
  --red: #FF3838;
}
* {
  margin: 0;
  padding: 0;
}
#container-all {
  background-image: url(../assets/img/login-resgister/Group\ 17.png);
  width: 100vw;
  height: 100vh;
}
#header {
  width: 100%;
  height: 20%;
  display: flex;
  align-items: center;
  justify-content: center;
}
header {
  display: flex;
  align-items: center;
  justify-content: center;
}
#poke-logo {
  padding-right: 60px;
}
h1 {
  font-family: var(--font1);
  color: #fff;
  font-size: 100px;
  padding-right: 60px;
}
#login-container {
  height: 75%;
  width: 40%;
  margin: 10px auto 0 auto;
  background-color: #73737371;
  border-radius: 30px;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: center;
}
h2 {
  font-family: var(--font1);
  color: #fff;
  font-size: 40px;
  letter-spacing: 4px;
  line-height: 0px;
  padding: 40px 0 20px 0;
}
h3 {
  font-family: var(--font1);
  color: #fff;
  font-size: 18px;
  letter-spacing: 2px;
  line-height: 0px;
  padding: 30px;
}
form {
  margin-top: 2%;
}
.inpt-login {
  background-color: var(--black);
  width: 420px;
  height: 80px;
  border-radius: 30px;
  display: flex;
  align-items: center;
  margin-bottom: 30px;
}
.inpt-login input {
  border: none;
  background-color: var(--black);
  color: #fff;
  font-size: 24px;
  font-family: var(--font2);
  outline: none;
  width: 80%;
}
.icon-login {
  padding: 0 20px;
}
#btn-login {
  background-color: var(--red);
  width: 420px;
  height: 80px;
  border-radius: 30px;
  border: none;
  font-family: var(--font1);
  color: #fff;
  font-size: 40px;
  margin-bottom: 20px;
  margin-top: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 0.2s linear;
}
#btn-login:hover {
  color: var(--red);
  background-color: #fff;
  border: 5px solid var(--red);
  transition: all 0.2s linear;
}
#btn-login:active {
  transform: scale(0.97);
}
#error-msg {
  color: #FF3838;
  font-family: var(--font2);
  font-size: 18px;
  font-weight: bold;
  text-align: center;
  visibility: hidden;
}
#container-register {
  position: absolute;
  top: 40px;
  right: 40px;
}
#container-register button {
  border: none;
  background-color: var(--red);
  color: #fff;
  width: 200px;
  height: 60px;
  font-size: 24px;
  font-weight: bold;
  border-radius: 10px;
  cursor: pointer;
}
#container-register button:hover {
  transform: scale(0.97);
}

/* -- RESPONSIVIDADE --  */

@media (min-width: 2560px) {
  h1 {
    font-size: 160px;
  }
  #poke-logo {
    height: 160px;
  }
  h2 {
    font-size: 80px;
    padding: 100px 0 40px 0;
  }
  h3 {
    font-size: 32px;
    padding: 40px;
    margin-bottom: 40px;
  }
  .inpt-login, #btn-login {
    width: 840px;
    height: 120px;
  }
  .inpt-login {
    margin-bottom: 60px;
  }
  .inpt-login input {
    font-size: 40px;
  }
  .icon-login {
    padding: 0 40px;
    width: 70px;
  }
  #btn-login {
    font-size: 60px;
    margin-bottom: 40px;
  }
  #error-msg {
    font-size: 32px;
  }
  #container-register button {
    width: 340px;
    height: 100px;
    font-size: 40px;
  }
}
@media (max-width: 1024px) {
  #poke-logo {
    height: 100px;
  }
  h1 {
    font-size: 80px;
  }
  #login-container {
    width: 50%;
  }
  .inpt-login, #btn-login {
    width: 380px;
    height: 70px;
    margin-bottom: 20px;
  }
  .inpt-login input {
    width: 60%;
  }
  #btn-login {
    margin-top: 10px;
  }
  #container-register button {
    width: 140px;
    font-size: 22px;
  }
}
@media (max-width: 768px) {
  #login-container {
    width: 60%;
  }
  #container-register {
    top: auto;
    bottom: 20px;
    right: 10px;
  }
  #container-register button {
    width: 130px;
    height: 50px;
    font-size: 20px;
  }
}
@media (max-width: 425px) {
  #container-all {
    height: 113vh;
  }
  #header {
    height: 15%;
  }
  #poke-logo {
    height: 50px;
    padding: 0px 10px;
  }
  h1 {
    font-size: 50px;
    padding-right: 10px;
  }
  #login-container {
    width: 50%;
    height: 65%;
  }
  h2 {
    padding: 30px 0 15px 0;
    font-size: 32px;
  }
  h3 {
    padding: 30px 30px;
    font-size: 14px;
    letter-spacing: 0.5px;
  }
  #login-container {
    width: 90%;
  }
  .inpt-login {
    width: 320px;
    height: 60px;
    margin-bottom: 15px;
    margin-left: 50%;
    transform: translateX(-160px);
  }
  #btn-login {
    width: 320px;
    height: 60px;
    margin-left: 50%;
    transform: translateX(-160px);
    margin-top: 40px;
  }
  #error-msg {
    text-align: center;
    margin-left: 3.5%;
    font-size: 14px;
  }
  #container-register {
    top: auto;
    bottom: -40px;
    right: auto;
    left: 50%;
    transform: translateX(-65px);
  }
}
@media (max-width: 320px) {
  h1 {
    padding-right: 2px;
  }
  #poke-logo {
    padding-right: 2px;
  }
  h3 {
    font-size: 12px;
  }
  .inpt-login, #btn-login {
    width: 260px;
    margin-left: 50%;
    transform: translateX(-130px);
  }
  .icon-login {
    width: 30px;
  }
  #btn-login {
    font-size: 32px;
    margin-top: 40px;
  }
  #error-msg {
    font-size: 11px;
  }
}